.form-group {
  width: 100%;
}

.inputTitle {
  margin-top: 17px;
}

#input-group {
  padding: 8.5px 8px;
  border: 1px solid #cdcdcd;
  margin-top: 11px;
  background-color: #fff;

  input {
    appearance: none;
    border: none;

  }
}