$black: #000;
$gray-dark: #2a2a2d;
$gray: #3F4050;
$gray-tertiary: #b2b3b9;
$gray-border: #e0e2e7;
$gray-bgc: #f7f8fa;
$white: #fff;

$primary-color: #FFCF54;
$sub-color: #4E6A75;

$red : #D3211F;
$orange: #f46527;
$green: #009b4d;